@model Dyna.Player.Models.BoxLayout
<div class="box-layout-@(Model.Identifier ?? "container")" class="@(Model.Classes ?? "")">
    @if (Model.Contents != null)
    {
        @foreach (var widget in Model.Contents)
        {
            if (widget is Dyna.Player.Models.TextWidget textWidget)
            {
                @await Component.InvokeAsync("TextWidget", widget)
                Dyna.Player.TagHelpers.AssetTagHelper.AddPresentAsset("TextWidget", "widget");
            }
            else if (widget is Dyna.Player.Models.ImageWidget imageWidget)
            {
                @await Component.InvokeAsync("ImageWidget", widget)
                Dyna.Player.TagHelpers.AssetTagHelper.AddPresentAsset("ImageWidget", "widget");
            }
            else if (widget is Dyna.Player.Models.VideoWidget videoWidget)
            {
                @await Component.InvokeAsync("VideoWidget", widget)
                Dyna.Player.TagHelpers.AssetTagHelper.AddPresentAsset("VideoWidget", "widget");
            }
            else if (widget is Dyna.Player.Models.CountdownWidget countdownWidget)
            {
                @await Component.InvokeAsync("CountdownWidget", countdownWidget)
                Dyna.Player.TagHelpers.AssetTagHelper.AddPresentAsset("CountdownWidget", "widget");
            }
            else 
            {
                <p>Unknown Widget Type: @widget?.GetType().Name</p>
            }
        }
    }
</div>