@page
@model IndexModel
@{
    ViewData["Title"] = "Default";
}
<div class="slide" style="">
    <video id="outcome" width="1080" height="1920" muted>
        <source src="~/vid/hyperdrive.mp4" />
    </video>
</div>
