@model CountdownWidgetClass
@using Dyna.Player.Pages.Shared.Components.BoxLayout
@using Dyna.Player.Services
@using Dyna.Player.Utilities
@using Newtonsoft.Json
@inject QueryParameterService QueryParameterService
@{
    string targetDateTime = Model.TargetDateTime?.Default;

    if (Model.TargetDateTime?.Source == "queryParameter")
    {
        string queryTargetDateTime = QueryParameterService.GetQueryParameterValue(Model.TargetDateTime.Name);
        if (queryTargetDateTime != null)
        {
            targetDateTime = queryTargetDateTime;
        }
    }
}

<div id="countdown-widget-@(Model.Identifier ?? Guid.NewGuid().ToString("N"))" data-target-date-time="@(targetDateTime)" class="@(Model.Classes ?? "")" style="@ConversionUtilities.GenerateCssStyleString(Model.Styles)" data-status="">
    @if (Model.Contents != null)
    {
        foreach (var part in Model.Contents) // Iterate through Elements
        {
            if (part.BoxLayout != null && part.BoxLayout is BoxLayoutClass) // Check if Layout is box
            {
                @await Component.InvokeAsync("BoxLayout", part.BoxLayout)
            }
            else
            {
                <p>Unknown Element Type: @part?.GetType().Name</p>
            }
        }
    }
    else
    {
        <p>Outcome Action: @Model.Outcome.Action</p>
    }
</div>