@page "/interactive/{id}"
@using Dyna.Player.TagHelpers
@using System.Diagnostics
@using Dyna.Player.Utilities
@model Dyna.Player.Models.CreativeModel

<div id="interactive-creative-container" style="@ConversionUtilities.GenerateCssStyleString(Model.Creative.Styles)">
    @if (Model?.Creative?.Pieces != null)
    {
        ViewData["Title"] = Model.Creative.Name;
        Dyna.Player.TagHelpers.AssetTagHelper.AddPresentAsset("CreativeTicker", "creative");
        @foreach (var piece in Model.Creative.Pieces)
        {
            @if (piece?.SlideLayout != null) // Check if element and SlideLayout are not null
            {
                Debug.WriteLine("[InteractiveView] SlideLayout Model: " + piece?.SlideLayout.ToString());
                @await Component.InvokeAsync("SlideLayout", new { layout = piece.SlideLayout })
                Dyna.Player.TagHelpers.AssetTagHelper.AddPresentAsset("SlideLayout", "layout");
            }
        }
    }
    else
    {
        <p>Loading...</p>
    }
</div>