@model VideoWidgetClass
@using Dyna.Player.Utilities
<div class="video-widget-@(Model.Identifier ?? Guid.NewGuid().ToString("N"))" class="@(Model.Classes ?? "")" style="@ConversionUtilities.GenerateCssStyleString(Model.Styles)">
</div>