@page "/dynamic/{id}"
@using Dyna.Player.TagHelpers
@using Dyna.Player.Utilities
@model Dyna.Player.Models.CreativeModel

<div id="dynamic-creative-container" style="@ConversionUtilities.GenerateCssStyleString(Model.Creative.Styles)">
    @if (Model?.Creative?.Pieces != null)
    {
        ViewData["Title"] = Model.Creative.Name;
        // Register the CreativeTicker script first (it's a dependency)
        AssetTagHelper.AddPresentAsset("Libraries/Creative/CreativeTicker", "library", 0);

        @foreach (var piece in Model.Creative.Pieces)
        {
            @if (piece?.SlideLayout != null)
            {
                @await Component.InvokeAsync("SlideLayout", new { layout = piece.SlideLayout })
            }
        }
    }
    else
    {
        <p>Loading...</p>
    }
</div>


